button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  background: transparent;
  line-height: normal;
}
/* the whole page is wrapped in .display-table */

.radio__input,
.checkbox__input {
  padding-right: 0.75em;
  white-space: nowrap;
}
.input-checkbox {
  border-radius: 4px;
}
.input-radio {
  border-radius: 50%;
}
.input-checkbox:checked {
  border-width: 9px;
}
.input-radio:checked {
  border-width: 7px;
}
.input-checkbox:checked,
.input-radio:checked {
  border-color: #3097b4;
}
.content-box__row {
  padding: 1.14em;
  position: relative;
  zoom: 1;
}
.content-box__row:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.content-box .input-checkbox,
.content-box .input-radio {
  border-color: #d9d9d9;
  background-color: white;
}
.display-table .content-box__row {
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.input-checkbox,
.input-radio {
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  vertical-align: -4px;
  border: 1px solid;
}
.input-checkbox:checked::after {
  transform: scale(1);
  transition-delay: 0.1s;
  opacity: 1;
}
.input-checkbox::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition-delay: 0s;
  opacity: 0;
  width: 10px;
  height: 8px;
  margin-left: -5px;
  margin-top: -4px;
  background-image: url(//cdn.shopify.com/shopifycloud/shopify/assets/checkout/checkbox-tick-66a9a39f70a44a226223ef4c61a701d2d10afaa73ba8846a509fbe58a82f3f36.svg),
    none;
}

.display-table .radio__label,
.display-table .checkbox__label {
  display: table-cell;
  width: 100%;
}
.display-table .radio__input,
.display-table .checkbox__input {
  display: table-cell;
}
.radio__label,
.checkbox__label {
  cursor: pointer;
  vertical-align: middle;
}
.section {
  position: relative;
  padding-top: 2em;
}
.section:first-child {
  padding-top: 0;
}
.section__header {
  position: relative;
  margin-bottom: 1em;
}

.content-box {
  border-color: #d9d9d9;
  background: #fff;
  margin-top: 1em;
  background-clip: border-box;
  background-clip: padding-box;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 5px;
  color: #545454;
}
.content-box:first-of-type {
  margin-top: 0;
}
